@import './variables';
@import './normalize';

* {
  box-sizing: border-box;
}

html,
body {
  color: $color-text-normal;
  background-color: $color-bg-normal;
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
